<strong># <%= @team.name %></strong>

<strong>## Team Members (<%= @team.team_members.count %>) <a href="<%= @team.path %>/invite"> + </a></strong>
<% @team.team_members.limit(10).each do |tm| %>* <%= tm.user.email %>
<% end %>

<strong>## Tags (<%= @team.tags.count %>) <a href="<%= @team.path %>/new_tag"> + </a></strong>
<% @team.tags.limit(10).each do |tag| %>* <a href="<%= tag.path %>"><%= tag.name %></a>
<% end %>
    
<strong>## Decisions (<%= @team.decisions.count %>) <a href="<%= @team.path %>/new_decision"> + </a></strong>
<% @team.decisions.order(id: :desc).limit(10).each do |d| %>* <a href="<%= d.path %>"><%= d.question %></a>
<% end %>
