<h1><%= @team.name %></h1>

<h2>Team Members (<%= @team.team_members.count %>) <a href="<%= @team.path %>/invite"> + </a></h2>
<ul>
  <% @team.team_members.limit(10).each do |tm| %>
    <li><%= tm.user.email %></li>
  <% end %>
</ul>

<h2>Decisions (<%= @team.decisions.count %>) <a href="<%= @team.path %>/new_decision"> + </a></h2>
<% open_decisions = @team.decisions.where(status: [nil, 'open']).order(id: :desc) %>
<h5>Open (<%= open_decisions.count %>)</h5>
<ul>
  <% open_decisions.limit(10).each do |d| %>
    <li><a href="<%= d.path %>"><%= d.question %></a></li>
  <% end %>
  <% if open_decisions.count > 10 %><!-- TODO --><% end %>
</ul>
<% closed_decisions = @team.decisions.where(status: 'closed').order(id: :desc) %>
<h5>Closed (<%= closed_decisions.count %>)</h5>
<ul>
  <% closed_decisions.limit(10).each do |d| %>
    <li><a href="<%= d.path %>"><%= d.question %></a></li>
  <% end %>
  <% if closed_decisions.count > 10 %><!-- TODO --><% end %>
</ul>
<% draft_decisions = @team.decisions.where(status: 'draft', created_by: current_user).order(id: :desc) %>
<h5>Your Drafts (<%= draft_decisions.count %>)</h5>
<ul>
  <% draft_decisions.limit(10).each do |d| %>
    <li><a href="<%= d.path %>"><%= d.question %></a></li>
  <% end %>
  <% if draft_decisions.count > 10 %><!-- TODO --><% end %>
</ul>

<h2>Magic 8 Ball</h2>
<%= render 'magic8ball' %>