<h1>Log in to <code><%= "#{@current_tenant.subdomain}.#{ENV['HOSTNAME']}" %></code></h1>
<% @current_tenant.auth_providers.each do |provider| %>
  <% provider = provider.downcase %>
  <% if provider == "github" %>
    <%= button_to "Log in with GitHub", "/auth/github", method: :post %>
  <% elsif provider == "google" %>
    <%= button_to "Log in with Google", "/auth/google_oauth2", method: :post %>
  <% elsif provider == "twitter" %>
    <%= button_to "Log in with Twitter", "/auth/twitter", method: :post %>
  <% elsif provider == "facebook" %>
    <%= button_to "Log in with Facebook", "/auth/facebook", method: :post %>
  <% elsif provider == "linkedin" %>
    <%= button_to "Log in with LinkedIn", "/auth/linkedin", method: :post %>
  <% elsif provider == "microsoft" %>
    <%= button_to "Log in with Microsoft", "/auth/microsoft_v2_auth", method: :post %>
  <% end %>
<% end %>