<h4 style="display:inline-block;margin-top:0;">
  <%= link_to @current_studio.name, @current_studio.path || '/' %> / <i class="note-icon"></i> Note
</h4>
<%= render 'shared/scratchpad_links' %>
<%= form_with do |form| %>
  <div style="margin-bottom:8px;">
    <%= form.text_field :title, placeholder: 'Fact that this note will communicate', value: @note.title %>
  </div>
  <div>
    <%= form.text_area :text, placeholder: 'Text (markdown supported)', style: 'height:300px;', value: @note.text %>
  </div>
  <% if @current_tenant.allow_file_uploads? %>
    <div>
      <%= form.label :files, "Attach files" %>
      <%= form.file_field :files, multiple: true %>
    </div>
  <% end %>
  <h2>Relevance Duration</h2>
  <p>
    This note will be considered relevant until
    <%= form.select :end_of_cycle, options_for_select(@end_of_cycle_options, selected: @end_of_cycle_options[0]) %>
  </p>
  <hr style="height:1px;" />
  <%= form.submit 'Save note' %>
  <% if @current_studio == @current_tenant.main_studio %>
    <p>Items created outside of a studio context do not display backlinks and do not show up in any cycle views.</p>
  <% end %>
<% end %>
