<h4 style="display:inline-block;margin-top:0;">
  <%= link_to @current_studio.name, @current_studio.path || '/' %> / <i class="note-icon"></i> Note
</h4>
<span data-controller="scratchpad-links" class="more-button">
  <span
    data-action="click->scratchpad-links#toggleMenu"
    data-scratchpad-links-target="button"
    >
    <%= octicon 'link' %>
  </span>
  <span data-scratchpad-links-target="menu" class="more-button-menu">
    <ul>
      <li>
        <h4>Scratchpad links</h4>
      </li>
      <% @scratchpad_links.each do |link| %>
        <li title="<%= link[:type] %>: <%= link[:title] %>">
          <%= render 'shared/copy_button', text: link[:url] %>
          <code><%= link[:type].downcase[0] %>/<%= link[:id] %></code>
          <span><%= link[:title].truncate(30) %></span>
        </li>
      <% end %>
    </ul>
  </span>
</span>
<%= form_with do |form| %>
  <div style="margin-bottom:8px;">
    <%= form.text_field :title, placeholder: 'Title', value: @note.title %>
  </div>
  <div>
    <%= form.text_area :text, placeholder: 'Text (markdown supported)', style: 'height:300px;', value: @note.text %>
  </div>
  <h2>Relevance Duration</h2>
  <p>
    This note will be considered relevant until
    <%= form.select :end_of_cycle, options_for_select(@end_of_cycle_options, selected: @end_of_cycle_options[0]) %>
  </p>
  <hr style="height:1px;" />
  <%= form.submit 'Save note' %>
  <% if @current_studio == @current_tenant.main_studio %>
    <p>Items created outside of a studio context do not display backlinks and do not show up in any cycle views.</p>
  <% end %>
<% end %>
