<h1><i class="note-icon large-icon"></i> Note</h1>
<%= form_with do |form| %>
  <div style="margin-bottom:8px;">
    <%= form.text_field :title, placeholder: 'Title' %>
  </div>
  <div>
    <%= form.text_area :text, placeholder: 'Text (markdown supported)', style: 'height:300px;' %>
  </div>
  <h2>Relevance Duration</h2>
  <p>
    This note will be considered relevant until
    <%= form.select :end_of_cycle, options_for_select(@end_of_cycle_options, selected: @end_of_cycle_options[0]) %>
  </p>
  <hr style="height:1px;" />
  <% if @current_studio != @current_tenant.main_studio %>
    <%= form.submit 'Save note' %> in <strong><%= @current_studio.name %></strong>
  <% else %>
    <p>Items created outside of a studio context do not display backlinks and do not show up in any cycle views.</p>
    <%= form.submit 'Save note' %>
  <% end %>
<% end %>
