<span data-controller="note" data-note-id="<%= @note.id %>">
<%= render 'shared/more_button', options: [
  { icon: 'copy', label: 'Copy link to clipboard', clipboard_text: @note.shareable_link },
  { action: 'append', icon: 'file-moved', label: 'Append link to scratchpad' },
  { action: 'pin', icon: 'pin', url: "#{@note.path}/pin", label: "Pin to #{@current_studio == @current_tenant.main_studio ? 'your profile' : 'studio homepage' }" },
  { link_to: "#{@note.path}/edit", icon: 'pencil', label: 'Edit' },
] %>
<h4 style="margin-top:0px;margin-bottom:0;"><i class="note-icon"></i> Note</h4>
<h1 style="margin-top:0;"><%= @note.title %></h1>
<p style="font-size:0.8em;">
  Created <strong><%= timeago(@note.created_at) %></strong> by <%= @note.created_by.name %>
  <br/>
  <% if @note.deadline > Time.now %>
    Relevant until <strong><%= timeago(@note.deadline) %></strong><br/>
  <% else %>
    Relevance expired <strong><%= timeago(@note.deadline) %></strong><br/>
  <% end %>
  <%= render 'shared/copy_to_clipboard', text: @note.shareable_link %>
  <br/>
</p>
<div class="user-generated-markdown">
  <%= markdown(@note.text) %>
</div>
<h2>Confirm</h2>
<div data-note-target="confirmSection">
  <%= render 'confirm' %>
</div>
<h2>History</h2>
<%= render 'history' %>
<%= backlinks(@note) %>
</span>