<span data-controller="note" data-note-id="<%= @note.id %>">
<%= render 'shared/more_button', resource: @note, options: ['copy', 'appendLink', 'pin', 'edit'] %>
<h4 style="margin-top:0px;margin-bottom:0;">
  <a href="<%= @current_studio.path || '/' %>"><%= @current_studio.name %></a> /
  <span style="white-space:nowrap;">
    <i class="note-icon"></i> Note <code><%= @note.truncated_id %></code>
  </span>
</h4>
<h1 style="margin-top:0;"><%= @note.title %></h1>
<p style="font-size:0.8em;">
  Created <strong><%= timeago(@note.created_at) %></strong> by <%= @note.created_by.name %>
  <br/>
  <% if @note.created_at != @note.updated_at %>
    Last updated <strong><%= timeago(@note.updated_at) %></strong> by <%= @note.updated_by.name %>
    <br/>
  <% end %>
  <% if @note.deadline > Time.now %>
    Relevance expires <strong><%= timeago(@note.deadline) %></strong><br/>
  <% else %>
    Relevance expired <strong><%= timeago(@note.deadline) %></strong><br/>
  <% end %>
  <br/>
</p>
<div class="user-generated-markdown">
  <%= markdown(@note.text) %>
</div>
<h2>Confirm</h2>
<div data-note-target="confirmSection">
  <%= render 'confirm' %>
</div>
<h2>History</h2>
<%= render 'history' %>
<%= backlinks(@note) %>
</span>