<span data-controller="note" data-note-id="<%= @note.id %>">
<%= render 'shared/more_button', resource: @note, options: ['copy', 'appendLink', 'pin', 'edit'] %>
<h4 style="margin-top:0px;margin-bottom:0;">
  <a href="<%= @current_studio.path || '/' %>"><%= @current_studio.name %></a> /
  <span style="white-space:nowrap;">
    <i class="note-icon"></i> Note <code><%= @note.truncated_id %></code>
  </span>
  <span style="white-space:nowrap;" title="<%= @note.confirmed_reads %> reader<%= 's' if @note.confirmed_reads != 1 %>">
    <%= octicon 'book' %> <%= @note.confirmed_reads %>
  </span>
</h4>
<h1 style="margin-top:0;"><%= @note.title %></h1>
<p style="font-size:0.8em;">
  <%= render 'shared/created_by', resource: @note %>
</p>
<%= render 'shared/attachments_section', resource: @note %>
<div class="user-generated-markdown">
  <% if @note.text.present? %>
    <%= markdown(@note.text) %>
  <% else %>
    <p style="opacity:0.6;"><em>empty note</em></p>
  <% end %>
</div>
<% unless @note.creator_can_skip_confirm?(@current_user) %>
  <h2>Confirm</h2>
  <div data-note-target="confirmSection">
    <%= render 'confirm' %>
  </div>
<% end %>
<h2>History</h2>
<%= render 'history' %>
<%= backlinks(@note) %>
</span>