<span data-decision-target="optionsSection" data-url="<%= @decision.path %>/options.html">
<h2>Options (<span id="decision-count-display"><%= @decision.options.count %></span>)</h2>
<span data-decision-target="optionsMessage">Check all options you approve. Star your favorites (for tiebreaking). <a href="#" data-decision-target="optionsRefresh" data-action="click->decision#refreshOptions">Refresh options</a></span>

<ul class="options-list">
  <span data-decision-target="list">
    <% @decision.options.each do |option| %>
      <% approval = option.approvals.where(created_by: current_user).first || Approval.new(value: 0) %>
      <li class="option-item" data-option-id="<%= option.id %>">
        <input type="checkbox" class="approval-button" id="option<%= option.id %>" data-action="click->decision#toggleApprovalValues" <%= approval.value == 1 ? 'checked' : '' %>/>
        <input type="checkbox" class="star-button" id="star-option<%= option.id %>" data-action="click->decision#toggleApprovalValues" <%= approval.stars == 1 ? 'checked' : '' %>/>
        <label for="star-option<%= option.id %>" class="star-button"></label>
        <label for="option<%= option.id %>"><%= option.title %></label>
      </li>
    <% end %>
  </span>
  <li>
    <input type="checkbox"/>
    <input type="checkbox" class="star-button"/>
    <label class="star-button"></label>
    <form style="display:inline;" data-action="submit->decision#add">
      <input type="text" data-decision-target="input"  data-team-id="<%= @decision.team_id %>" data-decision-id="<%= @decision.id %>" placeholder="Add an option">
      <button type="submit">Add</button>
    </form>
  </li>
</ul>
</span>