<h1>New Decision</h1>
<%= form_with(model: [@decision]) do |form| %>
  <div>
    <%= form.label :question %><br/>
    <%= form.text_field :question %>
  </div> 
  <div>
    <%= form.label :description %><br/>
    <%= form.text_field :description %>
  </div> 
  <%= form.submit 'Create' %>
<% end %>
