<h1><a href="<%= @current_team.path %>"><%= @current_team.name %></a> > New Decision</h1>
<%= form_with(model: [@current_team, @decision]) do |form| %>
<span><%= form.label :question %>
<%= form.text_field :question %></span> 
<%= form.submit 'Create' %>
<% end %>
