<h4 style="display:inline-block;">
  <%= link_to @current_studio.name, @current_studio.path || '/' %> / <i class="decision-icon"></i> Decision
</h4>
<%= render 'shared/scratchpad_links' %>
<%= form_with do |form| %>
  <div>
    <%= form.text_field :question, placeholder: 'Question that this decision will answer', value: @decision.question %>
  </div>
  <div style="margin-top:8px;">
    <%= form.text_area :description, placeholder: 'Description (optional)', value: @decision.description %>
  </div>
  <%= render 'shared/multi_file_select', form: form %>
  <h3>Options</h3>
  <p>
    <%= form.select :options_open, options_for_select([['Everyone', true], ['Just you', false]], selected: 'Everyone') %>
    will be able to add options on the decision page.
  </p>
  <h3>Deadline</h3>
  <p>
    Voting will close at
    <%= form.select :end_of_cycle, options_for_select(@end_of_cycle_options, selected: @end_of_cycle_options[1]) %>
  </p>
  <hr style="height:1px;" />
  <%= form.check_box :pinned, checked: true %>
  <%= form.label :pinned do %>
    <%= octicon 'pin' %>
    Pin to studio homepage
  <% end %>
  <hr style="height:1px;" />
  <%= form.submit 'Start Decision' %>
  <% if @current_studio == @current_tenant.main_studio %>
    <p>Items created outside of a studio context do not display backlinks and do not show up in any cycle views.</p>
  <% end %>
<% end %>
