<span data-controller="decision" data-decision-id="<%= @decision.id %>">
<%= render 'shared/more_button', resource: @decision, options: ['copy', 'appendLink', 'pin', 'settings'] %>
<h4 style="margin-top:0px;margin-bottom:0;">
  <a href="<%= @current_studio.path || '/' %>"><%= @current_studio.name %></a> /
  <span style="white-space:nowrap;">
    <i class="decision-icon"></i> Decision <code><%= @decision.truncated_id %></code>
  </span>
  <span style="white-space:nowrap;" title="<%= @decision.voter_count %> voter<%= 's' if @decision.voter_count != 1 %>">
    <%= octicon 'check-circle' %> <%= @decision.voter_count %>
  </span>
</h4>
<h1 style="margin-top:0;"><%= @decision.question %></h1>
<p style="font-size:0.8em;">
  <%= render 'shared/created_by', resource: @decision %>
  <br/>
  <% if @decision.closed? %>
    Closed <strong><%= timeago(@decision.deadline) %></strong><br/>
  <% else %>
    Closing in <strong><%= countdown(@decision.deadline) %></strong><br/>
  <% end %>
  <br/>
</p>
<%= render 'shared/attachments_section', resource: @decision %>
<% if @decision.description && @decision.description.length > 0 %>
  <h2>Description</h2>
  <div class="user-generated-markdown"><%= markdown(@decision.description) %></div>
<% end %>

<% unless @decision.closed? %>
  <%= render 'options_section' %>
<% end %>

<span
  data-controller="decision-results"
  data-decision-results-url-value="<%= @decision.path %>/results.html"
  >
  <%= render 'results' %>
</span>
<%= backlinks(@decision) %>
</span>

<h2>Voters</h2>

<% if @decision.voters.empty? %>
  <em>No voters yet.</em>
<% end %>

<ul>
  <% @decision.voters.each do |voter| %>
    <li>
      <%= profile_pic(voter) %>
      <%= voter.display_name %>
    </li>
  <% end %>
</ul>
