<span data-controller="decision" data-decision-id="<%= @decision.id %>">
<h4 style="margin-top:0px;">Decision</h4>
<h1 style="margin-top:0;"><%= @decision.question %></h1>
<p style="font-size:0.8em;">
  Created <strong><%= timeago(@decision.created_at) %></strong><br/>
  <% if @decision.deadline && !@decision.closed? %>
    Closing in <strong><%= countdown(@decision.deadline) %></strong><br/>
  <% elsif @decision.deadline && @decision.closed? %>
    Closed <strong><%= timeago(@decision.deadline) %></strong><br/>
  <% end %>
  Share this decision: <span data-controller="clipboard" data-clipboard-success-content="Copied!">
    <input type="text" value="<%= @decision.shareable_link %>" data-clipboard-target="source" style="display:none;"/>
    <span class="text-only-button" data-action="click->clipboard#copy" data-clipboard-target="button">Copy link to clipboard</span>
  </span><br/>
</p>
<% if @decision.description && @decision.description.length > 0 %>
  <h2>Description</h2>
  <div class="user-generated-markdown"><%= markdown(@decision.description) %></div>
<% end %>

<% unless @decision.closed? %>
  <%= render 'options_section' %>
<% end %>

<span
  data-controller="decision-results"
  data-decision-results-url-value="<%= @decision.path %>/results.html"
  >
  <%= render 'results' %>
</span>
</span>
