<% if @decision.deadline %>
  <div style="float:right;"><strong><%= countdown(@decision.deadline) %></strong><br/></div>
<% end %>
<span data-controller="decision" data-team-id="<%= @decision.team_id %>" data-decision-id="<%= @decision.id %>">
<h1><%= @decision.question %></h1>
<p>
  Created <strong><%= timeago(@decision.created_at) %></strong> by <strong><%= username_with_profile_link(@decision.created_by) %></strong><br/>
  Status: <select name="status" data-action="change->decision#changeStatus">
    <option value="open" <%= @decision.status.nil? || @decision.status == 'open' ? 'selected' : '' %>>open</option>
    <option value="draft" <%= @decision.status == 'draft' ? 'selected' : '' %>>draft</option>
    <option value="ephemeral" <%= @decision.status == 'ephemeral' ? 'selected' : '' %>>ephemeral</option>
    <option value="closed" <%= @decision.status == 'closed' ? 'selected' : '' %>>closed</option>
  </select>
  <br/>
</p>

<% unless @decision.closed? %>
  <%= render 'options' %>
<% end %>

<%= render 'results' %>
</span>
