<span data-controller="decision"><strong># <a href="<%= @current_team.path %>"><%= @current_team.name %></a> > <%= @decision.question %></strong>
Reference tag: #<%= @decision.reference_tag %>
Created at: <%= @decision.created_at %>
Created by: <%= @decision.created_by.email %>
Status: <%= @decision.status || '[none]' %>
<% (@decision.other_attributes || {}).each do |key, val| %><%= key %>: <%= val %>
<% end %>

<%= render 'options' %>
<%= render 'results' %>
</span>

<strong>## Referenced By (<%= @decision.reference_count %>)</strong>
<% if @decision.reference_count == 0 %>References will show up here when other decisions include this decision's reference tag: #<%= @decision.reference_tag %><% else %>The following decisions reference this decision.
<% @decision.referenced_by.each do |ref| %>* <a href="<%= ref.path %>" title="<%= ref.question %>">#<%= ref.reference_tag %></a>
<% end %><% end %>
</span>