<h1>
  <a href="https://<%= @showing_tenant.subdomain %>.<%= ENV['HOSTNAME'] %>">
    <%= @showing_tenant.name %> <code><%= @showing_tenant.subdomain %></code>
  </a>
</h1>

<% if @current_user_is_admin_of_showing_tenant %>
  <h2>Tenant Settings</h2>
  <a href="https://<%= @showing_tenant.subdomain %>.<%= ENV['HOSTNAME'] %>/admin/settings">Edit Settings</a>
  <pre><%= JSON.pretty_generate(@showing_tenant.settings) %></pre>
<% else %>
  <p>
    You are not an admin of this tenant.
  </p>
<% end %>