<h4 style="margin-bottom:0;">
  <%= link_to @current_user.display_name, @current_user.path || '/' %>
  /
  <%= link_to 'Settings', "#{@current_user.path}/settings" %>
</h4>
<h1 style="margin-top:0;">API Token</h1>
<% if @current_user != @showing_user %>
  <p>
    This token belongs to simulated user <a href="<%= @showing_user.path %>"><%= @showing_user.display_name %></a>, but you are able to view and edit this token because you are the owner of this simulated user.
  </p>
<% end %>
<ul>
  <li>
    <strong>Name:</strong>
    <%= @token.name || 'Unnamed' %>
  </li>
  <li>
    <strong>Token:</strong>
    <code><%= @token.obfuscated_token %></code>
    <span data-controller="clipboard">
      <input type="text" value="<%= @token.token %>" data-clipboard-target="source" style="display:none;"/>
      <span class="text-only-button" data-action="click->clipboard#copy" data-clipboard-target="button"><%= octicon 'copy' %> Copy token to clipboard</span>
      <span class="text-only-button" data-clipboard-target="successMessage" style="display:none;"><%= octicon 'copy' %> Copied!</span>
    </span>
  </li>
  <li>
    <strong>Created:</strong>
    <%= timeago(@token.created_at) %>
  </li>
  <li>
    <strong>Last Used:</strong>
    <%= @token.last_used_at ? timeago(@token.last_used_at) : 'Never' %>
  </li>
  <li>
    <strong>Expires:</strong>
    <%= timeago(@token.expires_at) %>
  </li>
  <li>
    <strong>Active:</strong>
    <%= @token.active? ? 'Yes' : 'No' %>
  </li>
</ul>
<h2>Scopes</h2>
<p>
<% @token.scopes.each do |scope| %>
  <span><%= scope %></span>
<% end %>
</p>
<h2>Delete</h2>
<%= button_to 'Delete Token', @token.path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %>
