<h1>Your Settings</h1>
<h2>Connected Accounts</h2>
<ul>
<% @current_user.oauth_identities.each do |identity| %>
  <li>
    <%= identity.provider.titleize %> (<a href="<%= identity.url %>"><%= identity.username %></a>)
    Connected <%= time_ago_in_words(identity.created_at) %> ago
  </li>
<% end %>
</ul>

<h2>API Tokens</h2>
<% if @current_user.api_tokens.any? %>
  <table>
    <tr>
      <th>Name</th>
      <th>Token</th>
      <th>Created</th>
      <th>Last Used</th>
      <th>Expires</th>
      <th>Active</th>
      <th>View</th>
    </tr>
    <% @current_user.api_tokens.each do |token| %>
      <tr>
        <td><%= token.name || 'Unnamed' %></td>
        <td><%= token.obfuscated_token %></td>
        <td><%= timeago(token.created_at) %></td>
        <td><%= token.last_used_at ? timeago(token.last_used_at) : 'Never' %></td>
        <td><%= timeago(token.expires_at) %></td>
        <td><%= token.active? ? 'Yes' : 'No' %></td>
        <td><%= link_to 'View', token.path %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>No API tokens.</p>
<% end %>
<%= button_to 'Create Token', "#{@current_user.path}/settings/tokens/new", method: :get, class: 'button' %>

<% if @current_user.simulated_users.any? %>
  <h2>Simulated Users</h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Created</th>
      <th>Profile</th>
      <th>Impersonate</th>
    </tr>
    <% @current_user.simulated_users.each do |simulated_user| %>
      <tr>
        <td><%= simulated_user.name %></td>
        <td><%= timeago(simulated_user.created_at) %></td>
        <td><%= link_to 'View', simulated_user.path %></td>
        <% if simulated_user.archived? %>
          <td>Archived</td>
        <% else %>
          <td><%= button_to 'Impersonate', "#{simulated_user.path}/impersonate", method: :post %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>