<h4 style="display:inline-block;">
  <%= link_to @current_studio.name, @current_studio.path || '/' %> / <%= octicon 'note' %> Page
</h4>
<span data-controller="scratchpad-links" class="more-button">
  <span
    data-action="click->scratchpad-links#toggleMenu"
    data-scratchpad-links-target="button"
    >
    <%= octicon 'link' %>
  </span>
  <ul data-scratchpad-links-target="menu" class="more-button-menu">
    <li>
      <h4>Scratchpad links</h4>
    </li>
    <% @scratchpad_links&.each do |link| %>
      <li>
        <a href="<%= link[:url] %>"><%= link[:title] %></a>
      </li>
    <% end %>
  </ul>
</span>
<%= form_with url: "#{@current_studio.path}/pages/publish" do |form| %>
  <div style="margin-bottom:8px;">
    <%= form.text_field :path, placeholder: 'path' %>
  </div>
  <div style="margin-bottom:8px;">
    <%= form.text_field :title, placeholder: 'Title' %>
  </div>
  <div>
    <%= form.text_area :markdown, placeholder: 'Markdown', style: 'height:300px;' %>
  </div>
  <hr style="height:1px;" />
  <% if @current_studio != @current_tenant.main_studio %>
    <%= form.submit 'Publish' %> in <strong><%= @current_studio.name %></strong>
  <% else %>
    <%= form.submit 'Publish' %>
  <% end %>
<% end %>
