<% if @show_studio_name %>
  <h4 style="display:inline-block;">
    <%= link_to @current_studio.name, @current_studio.path || '/' %> /
    <span style="white-space:nowrap;"><%= octicon 'note' %> Page <code><%= @page.path %></code></span>
  </h4>
  <p style="font-size:0.8em;">
    Published by <%= @page.author.name %> <%= timeago(@page.published_at) %>
    <br/>
    <% if @page.updated_at != @page.published_at %>
      Last updated <%= timeago(@page.updated_at) %>
    <% end %>
  </p>
<% end %>
<%= @page.html.html_safe %>
