<h4 style="margin-top:0px;margin-bottom:0;"><a href="<%= @current_studio.path || '/' %>"><%= @current_studio.name %></a> / <a href="<%= @current_studio.path || '/' %>/cycles">Cycles</a> / <%= @cycle.display_name %></h4>
<h1 style="margin-top:0;"><%= @cycle.display_window %></h1>

<p>
  <span style="font-size: 0.8em;" title="<%= @current_studio.timezone.name %>">
    <%= @cycle.display_duration %>,
    <% if @cycle.start_date > @cycle.now %>
      starting <%= timeago(@cycle.start_date) %>
    <% elsif @cycle.end_date < @cycle.now %>
      ended <%= timeago(@cycle.end_date) %>
    <% else %>
      ending in <strong><%= countdown(@cycle.end_date) %></strong>
    <% end %>
  </span>
  <br/>
  <span id="last-sync-display" style="font-size: 0.8em;display:inline;">
    <span style="opacity:0.6;">Last sync <%= timeago(Time.current) %></span>
    <a href="<%= @cycle.path_with_params %>"><%= octicon 'sync' %></a>
  </span>
  <script>
    setTimeout(function() {
      document.getElementById('last-sync-display').style.display = 'inline';
    }, 10 * 60 * 1000); // Show sync display after 10 minutes
  </script>
</p>

<% ['Notes', 'Decisions', 'Commitments'].each do |resource_type| %>
  <% resources = instance_variable_get("@#{resource_type.downcase.underscore}") %>
  <%= render 'shared/collapseable_section', title: resource_type, header_level: 2, hidden: false do %>
    <ul class="cycle-page-list">
    <% resources.each do |resource| %>
      <li>
        <span class="item">
          <%= render 'shared/inline_resource_item', resource: resource %>
        </span>
        <span class="item-time-section">
          <div>
            <span class="item-time-column-label">created</span>
            <br/>
            <%= timeago(resource.created_at) %>
          </div>
          <div>
            <span class="item-time-column-label">deadline</span>
            <br/>
            <%= timeago(resource.deadline) %>
          </div>
          <div>
            <span class="item-time-column-label">duration</span>
            <br/>
            <%= duration_in_words(resource.deadline - resource.created_at) %>
          </div>
        </span>
      </li>
    <% end %>
    </ul>
  <% end %>
<% end %>
