<% @grouped_rows.each do |group_rows| %>
  <% group, rows = group_rows %>
  <h2><%= group %></h2>
  <table>
    <tr>
      <th>item_type</th>
      <th>title</th>
      <th>created_at</th>
      <th>updated_at</th>
      <th>deadline</th>
      <th>link_count</th>
      <th>backlink_count</th>
      <th>participant_count</th>
      <th>voter_count</th>
      <th>option_count</th>
    </tr>
    <% rows.each do |row| %>
      <tr>
        <td><%= row.item_type %></td>
        <td><%= row.title %></td>
        <td><%= row.created_at %></td>
        <td><%= row.updated_at %></td>
        <td><%= row.deadline %></td>
        <td><%= row.link_count %></td>
        <td><%= row.backlink_count %></td>
        <td><%= row.participant_count %></td>
        <td><%= row.voter_count %></td>
        <td><%= row.option_count %></td>
      </tr>
    <% end %>
  </table>
<% end %>

