<h4 style="margin-top:0px;margin-bottom:0;"><a href="<%= @current_studio.path || '/' %>"><%= @current_studio.name %></a> / <a href="<%= @current_studio.path || '/' %>/cycles">Cycles</a> / <%= @cycle.display_name %></h4>
<h1 style="margin-top:0;"><%= @cycle.display_window %></h1>

<p>
  <span style="font-size: 0.8em;" title="<%= @current_studio.timezone.name %>">
    <%= @cycle.display_duration %>,
    <% if @cycle.start_date > @cycle.now %>
      starting <%= timeago(@cycle.start_date) %>
    <% elsif @cycle.end_date < @cycle.now %>
      ended <%= timeago(@cycle.end_date) %>
    <% else %>
      ending in <strong><%= countdown(@cycle.end_date) %></strong>
    <% end %>
  </span>
  <br/>
  <span id="last-sync-display" style="font-size: 0.8em;display:inline;">
    <span style="opacity:0.6;">Last sync <%= timeago(Time.current) %></span>
    <a href="<%= @cycle.path_with_params %>"><%= octicon 'sync' %></a>
  </span>
  <script>
    setTimeout(function() {
      document.getElementById('last-sync-display').style.display = 'inline';
    }, 10 * 60 * 1000); // Show sync display after 10 minutes
  </script>
</p>

<%= render 'filters_section' %>

<% if @current_studio.feature_enabled?('cycle_views_preview') %>
  <%= render 'show_data' %>
<% end %>

<%= render 'shared/collapseable_section', title: 'Notes', header_level: 2, hidden: false do %>
  <ul>
  <% @notes.each do |note| %>
    <li>
      <a href="<%= note.path %>"><i class="note-icon"></i> <%= note.title %></a>
    </li>
  <% end %>
  </ul>
<% end %>

<%= render 'shared/collapseable_section', title: 'Decisions', header_level: 2, hidden: false do %>
  <ul>
  <% @decisions.each do |decision| %>
    <li>
      <a href="<%= decision.path %>"><i class="decision-icon"></i> <%= decision.question %></a>
    </li>
  <% end %>
  </ul>
<% end %>

<%= render 'shared/collapseable_section', title: 'Commitments', header_level: 2, hidden: false do %>
  <ul>
  <% @commitments.each do |commitment| %>
    <li>
      <a href="<%= commitment.path %>"><i class="commitment-icon"></i> <%= commitment.title %></a>
    </li>
  <% end %>
  </ul>
<% end %>

<h2>Backlinks</h2>
<p>Items that are linked to by the items above.</p>
<ul>
<% @backlinks.each do |resource| %>
  <li>
    <a href="<%= resource.path %>"><i class="<%= resource.class.to_s.downcase %>-icon"></i> <%= resource.title %></a>
  </li>
<% end %>
</ul>