<% header_level ||= 1 %>
<% hidden ||= false %>
<% lazy_load ||= nil %>
<% octicon ||= nil %>
<span
  data-controller="collapseable-section"
  >
  <h<%= header_level %> data-collapseable-section-target="header">
    <% if octicon %>
      <%= octicon octicon, height: header_level < 3 ? 24 : 16 %>
    <% end %>
    <%= title %>
    <span data-collapseable-section-target="triangleRight" style="display:<%= hidden ? 'inline' : 'none' %>;">
      <%= octicon 'triangle-right', height: 20 %>
    </span>
    <span data-collapseable-section-target="triangleDown" style="display:<%= hidden ? 'none' : 'inline' %>;">
      <%= octicon 'triangle-down', height: 20 %>
    </span>
  </h<%= header_level %>>
  <div data-collapseable-section-target="body" style="display:<%= hidden ? 'none' : 'block' %>;">
    <%= yield %>
    <div data-collapseable-section-target="lazyLoad" data-url="<%= lazy_load %>"></div>
  </div>
</span>