<link rel="stylesheet" href="<%= asset_path 'image_cropper.css' %>">
<script type="module" src="<%= asset_path 'image_cropper.js' %>"></script>
<% size ||= 64 %>
<style>
  #profile-image {
    cursor: pointer;
    height: <%= size %>px;
  }
  #profile-image:hover {
    opacity: 0.8;
  }
</style>
<img src="<%= resource.image_url %>" id="profile-image" title="click to upload new image">

<%= form_with url: "#{resource.path}/image", method: :patch, local: true, html: { multipart: true, id: 'profile-image-form' } do |form| %>
  <div style="position: relative;">
    <%= form.file_field :profile_image, style: 'display: none;', id: 'profile-image-input' %>
  </div>
  <%= form.hidden_field :cropped_image_data, id: 'cropped-image-data' %>
<% end %>

<!-- Modal for cropping the image -->
<div id="cropper-modal" style="display: none;">
  <div>
    <img id="cropper-image" src="" alt="Crop Image">
  </div>
  <button id="crop-button">Crop</button>
</div>
