<span data-controller="scratchpad-links" class="more-button">
  <span
    data-action="click->scratchpad-links#toggleMenu"
    data-scratchpad-links-target="button"
    >
    <%= octicon 'link' %>
  </span>
  <span data-scratchpad-links-target="menu" class="more-button-menu">
    <ul>
      <li>
        <h4>Scratchpad links</h4>
      </li>
      <% @scratchpad_links.each do |link| %>
        <li title="<%= link[:type] %>: <%= link[:title] %>">
          <span title="Copy link to clipboard">
            <%= render 'shared/copy_button', text: link[:url] %>
          </span>
          <code><%= link[:type].downcase[0] %>/<%= link[:id] %></code>
          <a href="<%= link[:url] %>" class="scratchpad-link-menu-a-tag" target="_blank">
            <%= link[:title].truncate(30) %>
          </a>
        </li>
      <% end %>
      <% if @scratchpad_links.empty? %>
        <li style="opacity:0.6;"><em>No scratchpad links for this studio.</em></li>
      <% end %>
      <li>
        <h4>Pinned</h4>
      </li>
      <% pinned_items = @current_studio.pinned_items %>
      <% pinned_items.each do |item| %>
        <% resource = item[:item] %>
        <li title="<%= resource.class.to_s %>: <%= resource.title %>">
          <span title="Copy link to clipboard">
            <%= render 'shared/copy_button', text: resource.shareable_link %>
          </span>
          <code><%= resource.class.to_s.downcase[0] %>/<%= resource.truncated_id %></code>
          <a href="<%= resource.shareable_link %>" class="scratchpad-link-menu-a-tag" target="_blank">
            <%= resource.title.truncate(30) %>
          </a>
        </li>
      <% end %>
      <% if pinned_items.empty? %>
        <li style="opacity:0.6;"><em>No pinned items currently.</em></li>
      <% end %>
    </ul>
  </span>
</span>
