<% expanded ||= false %>
<% if expanded %>
  <% Studio.scope_thread_to_studio(subdomain: @current_tenant.subdomain, handle: studio.handle) %>
<% end %>
<div class="homepage-studio-section">
  <div>
    <a href="<%= studio.path %>">
      <img src="<%= studio.image_path %>" id="studio-image" style="height:33px; border-radius:10%;float:left;border:1px solid var(--color-border-default);"/>
      <h3 style="padding-top:4px;padding-left:46px;"><%= studio.name %></h3>
    </a>
  </div>
  <%= render 'shared/collapseable_section', title: 'Explore', header_level: 4, octicon: 'telescope', hidden: !expanded do %>
    <ul>
      <li>
        <a href="<%= studio.path %>/cycles">Cycles</a>
      </li>
      <li>
        <a href="<%= studio.path %>/backlinks">Backlinks</a>
      </li>
      <li>
        <a href="<%= studio.path %>/views">Views</a>
      </li>
    </ul>
  <% end %>
  <%= render 'shared/collapseable_section', title: 'Pinned', header_level: 4, octicon: 'pin', hidden: !expanded, lazy_load: expanded ? nil : "#{studio.path}/pinned.html" do %>
    <% if expanded %>
      <%= render 'shared/pinned', pinned_items: studio.pinned_items %>
    <% end %>
  <% end %>
  <%= render 'shared/collapseable_section', title: 'Team', header_level: 4, octicon: 'people', hidden: !expanded, lazy_load: expanded ? nil : "#{studio.path}/team.html" do %>
    <% if expanded %>
      <%= render 'shared/team', team: studio.team %>
    <% end %>
  <% end %>
</div>
<% if expanded %>
  <% Studio.scope_thread_to_studio(subdomain: @current_tenant.subdomain, handle: @current_studio.handle) %>
<% end %>
