<% expanded ||= false %>
<% if expanded %>
  <% Studio.scope_thread_to_studio(subdomain: @current_tenant.subdomain, handle: studio.handle) %>
<% end %>
<div class="homepage-studio-section">
  <h3>
    <a href="<%= studio.path %>"><%= studio.name %></a>
  </h3>
  <%= render 'shared/collapseable_section', title: 'Explore', header_level: 4, octicon: 'telescope', hidden: !expanded do %>
    <% cycle = studio.current_cycle %>
    <a href="<%= cycle.path %>">Current cycle</a>
  <% end %>
  <%= render 'shared/collapseable_section', title: 'Pinned', header_level: 4, octicon: 'pin', hidden: !expanded, lazy_load: expanded ? nil : "#{studio.path}/pinned.html" do %>
    <% if expanded %>
      <%= render 'shared/pinned', pinned_items: studio.pinned_items %>
    <% end %>
  <% end %>
  <%= render 'shared/collapseable_section', title: 'Team', header_level: 4, octicon: 'people', hidden: !expanded, lazy_load: expanded ? nil : "#{studio.path}/team.html" do %>
    <% if expanded %>
      <%= render 'shared/team', team: studio.team %>
    <% end %>
  <% end %>
</div>
<% if expanded %>
  <% Studio.scope_thread_to_studio(subdomain: @current_tenant.subdomain, handle: @current_studio.handle) %>
<% end %>
