<span data-controller="scratchpad" data-scratchpad-url="<%= @current_user.path %>/scratchpad">
<span style="float:right;">
  <div data-action="click->scratchpad#toggleMode" style="cursor:pointer;margin-right:4px;">
    <span data-scratchpad-target="editIcon" style="display:none;"><%= octicon 'pencil' %></span>
    <span data-scratchpad-target="viewIcon"><%= octicon 'eye' %></span>
  </div>
</span>

<div data-scratchpad-target="editorDiv">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

  <textarea id="editor-textarea"><%= @current_user.scratchpad['text'] %></textarea>
  <script>
  window.simplemde = new SimpleMDE({
    element: document.getElementById("editor-textarea"),
    autoDownloadFontAwesome: false,
    spellChecker: false,
    status: false,
    toolbar: false,
    indentWithTabs: false,
    tabSize: 2,
  });
  </script>
</div>

<div data-scratchpad-target="viewDiv" style="display:none;">
  <%= markdown(@current_user.scratchpad['text'], shift_headers: false) %>
</div>
</span>