<h1>Settings</h1>
<!-- <button type="button" data-action="click->settings#generateApiToken">Get API Token</button> -->

<h2>Personal API Token</h2>
<p>Use this token to access your data through the API. Keep this token in a secure place such as a password manager.</p>
<p>
  <span data-controller="clipboard" data-clipboard-success-content="Copied!">
    <code data-clipboard-target="source"><%= @api_token.token %></code>
    <button type="button" data-action="clipboard#copy" data-clipboard-target="button">Copy to clipboard</button>
  </span>
</p>
<p>Expires <%= time_ago_in_words(@api_token.expires_at) %> from now, at <code><%= @api_token.expires_at %></code>.</p>
<p>Use this token in the <code>Authorization</code> header of your requests, using the <code>Bearer</code> prefix as shown in the example below.</p>

<p>Example:</p>
<pre><code class="language-javascript">
// JavaScript
const token = "<%= @api_token.token %>";
// Get your own user info
await fetch('https://<%= ENV['HOSTNAME'] %>/api/v1/me', {
  headers: {
    Authorization: `Bearer ${token}`
  }
}).then(response => response.json())
</code></pre>
<!-- TODO: Include these in vendor assets -->
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
