<h1><a href="<%= @current_team.path %>"><%= @current_team.name %></a> > New Tag</h1>

<%= form_with(model: [@current_team, @tag]) do |form| %>
<span><%= form.label :name %>
<%= form.text_field :name %></span> 
<%= form.submit 'Create' %>
<% end %>
