<h1><a href="<%= @current_team.path %>"><%= @current_team.name %></a> > #<%= @tag.name %></h1>

<h2>Decisions (<span id="decision-count-display"><%= @tag.decisions.count %></span>)</h2>
<p>These decisions reference this tag in one or more of their decision attributes.</p>

<ul>
  <% @tag.decisions.each do |d| %>
    <li><a href="<%= d.path %>"><%= d.question %></a></li>
  <% end %>
</ul>