<h4 style="display:inline-block;">
  <%= link_to @current_studio.name, @current_studio.path || '/' %> / <i class="commitment-icon"></i> Commitment
</h4>
<%= render 'shared/scratchpad_links' %>
<%= form_with do |form| %>
  <div>
    <%= form.text_field :title, placeholder: 'Action that this commitment will initiate' %>
  </div>
  <div>
    <%= form.text_area :description, placeholder: 'Description (markdown supported)' %>
  </div>
  <%= render 'shared/multi_file_select', form: form %>
  <h2>Critical Mass</h2>
  <p>
    At least <%= form.number_field :critical_mass, value: 1, style: 'width:48px;' %> participant(s) required for this commitment to take effect.
  </p>
  <h2>Deadline</h2>
  <p>
    Critical mass must be reached by <%= form.select :end_of_cycle, options_for_select(@end_of_cycle_options, selected: @end_of_cycle_options[1]) %>
  </p>
  <hr style="height:1px;" />
  <%= form.check_box :pinned, checked: true %>
  <%= form.label :pinned do %>
    <%= octicon 'pin' %>
    Pin to studio homepage
  <% end %>
  <hr style="height:1px;" />
  <%= form.submit 'Start Commitment' %>
<% end %>
