<span data-controller="commitment" data-commitment-id="<%= @commitment.id %>">
<%= render 'shared/more_button', resource: @commitment, options: ['copy', 'appendLink', 'pin', 'settings'] %>
<h4 style="margin-top:0px;margin-bottom:0;">
  <a href="<%= @current_studio.path || '/' %>"><%= @current_studio.name %></a> /
  <span style="white-space:nowrap;">
    <i class="commitment-icon"></i> Commitment <code><%= @commitment.truncated_id %></code>
  </span>
  <%= render 'shared/main_metric_display', resource: @commitment %>
</h4>
<h1 style="margin-top:0;"><%= @commitment.title %></h1>
<p style="font-size:0.8em;">
  <%= render 'shared/created_by', resource: @commitment %>
  <br/>
  <% if @commitment.deadline && !@commitment.closed? %>
    Closing in <strong><%= countdown(@commitment.deadline) %></strong><br/>
  <% elsif @commitment.deadline && @commitment.closed? %>
    Closed <strong><%= timeago(@commitment.deadline) %></strong><br/>
  <% end %>
  <br/>
</p>
<span data-commitment-target="statusSection" data-url="<%= @commitment.path + '/status.html' %>">
  <%= render 'status' %>
</span>
<%= render 'shared/attachments_section', resource: @commitment %>
<% if @commitment.description && @commitment.description.length > 0 %>
  <h2>Description</h2>
  <div class="user-generated-markdown"><%= markdown(@commitment.description) %></div>
<% end %>
<% unless @commitment.closed? %>
  <h2>Join</h2>
  <div data-commitment-target="joinSection">
    <%= render 'join' %>
  </div>
<% end %>
<%= render 'participants' %>
<%= backlinks(@commitment) %>
</span>
