<div>
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div>
  <%= form.label :redirect_uri %>
  <%= form.text_field :redirect_uri %>
</div>

<div>
  <%= form.label :scopes %>
  <%= form.text_field :scopes %>
</div>

<div>
  <%= form.label :confidential %>
  <%= form.check_box :confidential %>
</div>
