<h1>Your OAuth Applications</h1>

<%= link_to 'New OAuth Application', new_oauth_application_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Client ID</th>
      <th>Client Secret</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @oauth_applications.each do |app| %>
      <tr>
        <td><%= app.name %></td>
        <td><%= app.uid %></td>
        <td><%= app.secret %></td>
        <td>
          <%= link_to 'Edit', edit_oauth_application_path(app) %> |
          <%= link_to 'Delete', oauth_application_path(app), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
