<% if @current_studio.sequences.any? %>
  <% @current_studio.sequences.each do |sequence| %>
    <h4>
      <a href="<%= sequence.path %>"><%= sequence.title %></a>
    </h4>
    <% if sequence.completed? %>
      <div>
        <%= octicon 'check' %>
        sequence completed <%= timeago(sequence.ends_at) %>
      </div>
    <% elsif sequence.paused? %>
      <div>
        <%= octicon 'tab' %>
        sequence paused <%= timeago(sequence.paused_at) %>
      </div>
    <% else %>
      <div>
        <%= octicon 'arrow-right' %>
        #<%= sequence.next_item_position %>
        <span class="smaller-text">
          will be created in
          <%= countdown(sequence.next_item_scheduled_at) %>
        </span>
      </div>
    <% end %>
    <% if sequence.last_item %>
      <div>
        <%= octicon 'arrow-right' %>
        <a href="<%= sequence.last_item.path %>">#<%= sequence.last_item.sequence_position %></a>
        created <%= timeago(sequence.last_item.created_at) %>
      </div>
    <% end %>
    <% past_items = sequence.past_items.limit(3) %>
    <% if past_items.any? %>
      <div>
        <%= octicon 'arrow-right' %>
        <% past_items.each do |item| %>
          <a href="<%= item.path %>">#<%= item.sequence_position %></a>
          <% if item == past_items.last %>
            , ...
          <% else %>
            ,
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p><em>No active sequences right now.</em></p>
<% end %>
