<h4 style="margin-top:0px;margin-bottom:0;">
  <a href="<%= @current_studio.path || '/' %>"><%= @current_studio.name %></a>
  / Backlinks
</h4>
<h1 style="margin-top:0;">Backlinks</h1>

<% if @backlinks.empty? %>
  <p>No backlinks yet.</p>
<% else %>
<p>
  <table>
    <tr style="border:none;">
      <td style="border:none;"></td>
      <td style="border:none;"></td>
      <td>backlinks</td>
    </tr>
    <% @backlinks.each.with_index do |bl, i| %>
      <% resource, count = bl %>
      <tr>
        <td><%= i + 1 %></td>
        <td>
          <%= render 'shared/inline_resource_item', resource: resource %>
        </td>
        <td><%= count %></td>
      </tr>
    <% end %>
  </table>
</p>
<% end %>