<h4 style="margin-bottom:0;">
  <%= link_to @current_studio.name, @current_studio.path || '/' %>
</h4>
<h1 style="margin-top:0;">Settings</h1>
<%= form_with(url: "#{@current_studio.path}/settings") do |form| %>
  <h2>Studio Name</h2>
  <p>
    <%= form.text_field :name, placeholder: 'Studio Name', value: @current_studio.name %>
  </p>

  <h2>Time Zone</h2>
  <p>
    The studio time zone determines when cycles begin and end.
  </p>
  <p>
    <%= form.time_zone_select :timezone, ActiveSupport::TimeZone.all, default: @current_studio.timezone.name %>
  </p>

  <h2>Tempo</h2>

  <p>
    How frequently should studio members check in (approximately)?
  </p>
  <p>
    This determines the primary cycle duration.
  </p>
  <p>
    <%= form.select :tempo, [['Daily', 'daily'], ['Weekly', 'weekly'], ['Monthly', 'monthly']], selected: @current_studio.tempo %>
  </p>

  <h2>Synchronization Mode</h2>

  <p>
    Which metaphor best describes how your studio is organized?
  </p>
  <p>
    <fieldset>
      <label>
        <%= form.radio_button :synchronization_mode, 'improv', checked: @current_studio.improv? %>
        <strong>Improv</strong> (no formal leadership roles)
      </label>
      <br/>
      <label>
        <%= form.radio_button :synchronization_mode, 'orchestra', checked: @current_studio.orchestra? %>
        <strong>Orchestra</strong> (has formal leadership roles)
      </label>
    </fieldset>
  </p>

  <h2>Invitations</h2>
  <fieldset>
    <legend>Who can invite new members?</legend>
    <%= form.radio_button :invitations, 'all_members', checked: @current_studio.all_members_can_invite? %>
    <%= form.label :invitations_all_members, 'All members can invite' %><br>
    <%= form.radio_button :invitations, 'only_admins', checked: !@current_studio.all_members_can_invite? %>
    <%= form.label :invitations_only_admins, 'Only admins can invite' %>
  </fieldset>

  <h2>Representation</h2>
  <fieldset>
    <legend>Who can act as a representative of <%= @current_studio.name %> within other studios?</legend>
    <%= form.radio_button :representation, 'any_member', checked: @current_studio.any_member_can_represent? %>
    <%= form.label :representation_any_member, 'Any member can represent the studio' %><br>
    <%= form.radio_button :representation, 'only_representatives', checked: !@current_studio.any_member_can_represent? %>
    <%= form.label :representation_only_representatives, 'Only designated representatives can represent the studio' %>
  </fieldset>

  <hr style="height:1px;" />
  <%= form.submit 'Save' %>
<% end %>
