<% options = @current_user.studio_user.is_admin? ? ['invite', 'settings'] : [] %>
<% new_page = @current_studio.pages_enabled? ? 'new_page' : nil %>
<% new_randomness = @current_studio.random_enabled? ? 'new_randomness' : nil %>
<% options << '---' if new_page || new_randomness %>
<% options << new_page if new_page %>
<% options << new_randomness if new_randomness %>
<%= render 'shared/more_button', resource: @current_studio, options: options %>
<h4 style="margin-top:0px;margin-bottom:0;">Studio</h4>
<h1 style="margin-top:0;"><%= @current_studio.name %></h1>

<h2>Pinned</h2>
<%= render 'pinned' %>

<h2>Cycles</h2>
<p><a href="<%= @current_studio.path %>/cycles">View all</a></p>
<%= render 'shared/cycle_count_table', cycles: @current_cycles %>

<h2>Backlinks</h2>
<%= render 'backlinks' %>

<% if @current_studio.pages_enabled? %>
  <h2>Pages</h2>
  <%= render 'pages' %>
<% end %>

<h2>Team</h2>
<%= render 'team' %>
