<% options = [] %>
<% new_page = @current_studio.pages_enabled? ? 'new_page' : nil %>
<% new_randomness = @current_studio.random_enabled? ? 'new_randomness' : nil %>
<% invite = @current_user.studio_user.can_invite? ? 'invite' : nil %>
<% representation = 'representation' %>
<% options << new_page if new_page %>
<% options << new_randomness if new_randomness %>
<% options << invite if invite %>
<% options << representation if representation %>
<% settings = @current_user.studio_user.is_admin? ? 'settings' : nil %>
<% options << '---' if settings %>
<% options << settings if settings %>
<% options << 'manage_team' if @current_user.studio_user.is_admin? %>
<%= render 'shared/more_button', resource: @current_studio, options: options %>

<div>
  <img src="<%= @current_studio.image_path %>" id="studio-image" style="margin-top:3px; height:83px; min-width:50px; border-radius:10%;float:left;"/>
  <div style="padding-top:30px;">
    <h4 style="padding-left:92px;margin-top:0px;margin-bottom:0;">Studio</h4>
    <h1 style="padding-left:92px;margin-top:0;">
      <%= @current_studio.name %>
    </h1>
  </div>
</div>

<h2>
  <%= octicon 'telescope', height: 24 %>
  Explore
</h2>
<%= render 'explore' %>

<h2><%= octicon 'pin', height: 24 %> Pinned</h2>
<%= render 'shared/pinned', pinned_items: @pinned_items %>

<% if @current_studio.sequences_enabled? %>
  <h2><%= octicon 'iterations', height: 24 %> Sequences</h2>
  <%= render 'sequences' %>
<% end %>

<h2>
  <%= octicon 'people', height: 24 %>
  Team
</h2>
<%= render 'shared/team', team: @team %>
