<h4 style="margin-top:0px;margin-bottom:0;"><a href="<%= @current_studio.path || '/' %>"><%= @current_studio.name %></a> / <a href="<%= @current_studio.path %>/views">Views</a> / View <code>...</code></h4>
<!-- <h1 style="margin-top:0;">View</h1> -->

<%= render 'filters_section' %>

<%= render 'show_data' %>
