<div class="top-right-display">
<% if @current_user %>
  <div data-controller="top-right-menu">
    <div data-top-right-menu-target="button" class="top-menu-button" data-action="click->top-right-menu#toggleMenu">
      <%= profile_pic(@current_user) %>
    </div>
    <div data-top-right-menu-target="menu" class="top-menu" style="display:none;<% if @current_parent_user %>min-width:185px;<% end %>">
      <ul>
        <li>
          <%= octicon 'file' %>
          <a href="/scratchpad">Scratchpad</a>
        </li>
        <li>
          <%= octicon 'person' %>
          <a href="<%= @current_user.path %>">Profile</a>
        </li>
        <li>
          <%= octicon 'gear' %>
          <a href="<%= @current_user.path %>/settings">Settings</a>
        </li>
        <li>
          <hr style="height:0;margin:0;border:none;border-top:1px solid var(--color-border-default);" />
        </li>
        <li>
          <%= octicon 'sign-out' %>
          <%= button_to "Sign Out", logout_path, method: :delete, style: "display:inline;" %>
        </li>
      </ul>
    </div>
  </div>
<% else %>
  <%= button_to "Log in", "/login", method: :get %>
<% end %>
</div>
