<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || 'Harmonic Team' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/png" href="/<%= @current_app %>-favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/<%= @current_app %>-favicon-16x16.png" sizes="16x16">
    <link rel="icon" href="/<%= @current_app %>-favicon.ico" type="image/x-icon">
    <meta name="description" content="<%= @page_description || @current_app_description %>">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="<%= @page_title || @current_app_title %>" />
    <meta name="twitter:description" content="<%= @page_description || @current_app_description %>" />
    <meta name="twitter:image" content="https://<%= @current_app %>.team/<%= @current_app %>-logo-white-bg.png" />

    <meta property="og:type" content="article" />
    <meta property="og:title" content="<%= @page_title || @current_app_title %>" />
    <meta property="og:description" content="<%= @page_description || @current_app_description %>" />
    <meta property="og:url" content="https://<%= @current_app %>.team/" />
    <meta property="og:image" content="https://<%= @current_app %>.team/<%= @current_app %>-logo-white-bg.png" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if controller_name != 'sessions' %>
      <nav style="display:block;min-height:16px;">
        <a href="/" style="float:left; margin: 0 10px 0 0;"><i class="logo"></i></a>
        <% if @current_studio.id != @current_tenant.main_studio_id %>
          / <a href="<%= @current_studio.path %>"><%= @current_studio.name %></a>
        <% end %>
        <% if @current_resource && @current_resource.class.to_s == 'Cycle' %>
          / <a href="<%= @current_studio.path %>/cycles">Cycles</a> / <span class="resource-link-cycle"><%= @current_resource.display_name %></span>
        <% elsif @current_resource %>
          / <span class="resource-link-<%= @current_resource.class.name.downcase %>"><%= @current_resource.truncated_id %></span>
        <% elsif @showing_user %>
          / <span class="resource-link-user"><%= @showing_user.handle %></span>
        <% end %>
        <%= render 'layouts/top_right_menu' %>
      </nav>
    <% end %>
    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>
    <div class="markdown-body">
      <%= yield %>
    </div>
  </body>
</html>
