<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || @current_app_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/png" href="/<%= @current_app %>-favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/<%= @current_app %>-favicon-16x16.png" sizes="16x16">
    <link rel="icon" href="/<%= @current_app %>-favicon.ico" type="image/x-icon">
    <meta name="description" content="<%= @page_description || @current_app_description %>">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="<%= @page_title || @current_app_title %>" />
    <meta name="twitter:description" content="<%= @page_description || @current_app_description %>" />
    <meta name="twitter:image" content="https://<%= @current_app %>.team/<%= @current_app %>-logo-white-bg.png" />

    <meta property="og:type" content="article" />
    <meta property="og:title" content="<%= @page_title || @current_app_title %>" />
    <meta property="og:description" content="<%= @page_description || @current_app_description %>" />
    <meta property="og:url" content="https://<%= @current_app %>.team/" />
    <meta property="og:image" content="https://<%= @current_app %>.team/<%= @current_app %>-logo-white-bg.png" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
    .logo {
      background-image: url(/<%= @current_app %>-icon.svg);
    }
    </style>
  </head>

  <body>
    <% if controller_name != 'sessions' %>
      <a href="/"><%= @current_tenant.name %></a>
      <% if @current_resource && @current_resource.class.to_s == 'Cycle' %>
        > <a href="/cycles">Cycles</a> > <span class="resource-link-cycle"><%= @current_resource.display_name %></span>
      <% elsif @current_resource %>
        > <span class="resource-link-<%= @current_resource.class.name.downcase %>"><%= @current_resource.truncated_id %></span>
      <% elsif @showing_user %>
        > <span class="resource-link-user"><%= @showing_user.handle %></span>
      <% end %>
      <div class="top-right-display">
        <% if @current_user %>
          <div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.5/ace.min.js" integrity="sha512-NIDAOLuPuewIzUrGoK5fXxowwGDm0DFJhI5TJPyTP6MeY2hUcCSKJr54fecQTEZ8kxxEO2NBrILQSUl4qZ37FA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.5/mode-markdown.min.js" integrity="sha512-6POKArs6bJW5Stg2VlGSlx1mEy/BRwaUk5xuhZVqts4cwKLHjO3i3OD3yPasDlMGEFDLN5RbP0UuBMllqhU2xw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <span data-controller="scratchpad">
              <span data-scratchpad-target="visibilityToggle">Scratch Pad</span>
              <div
                id="scratchpad"
                class="<%= @current_user.scratchpad['editor_theme'] || 'default' %>-theme"
                style="display:<%= @current_user.scratchpad['visible'] ? 'block' : 'none' %>"
                data-scratchpad-target="editor"
                data-url="<%= @current_user.path %>/scratchpad"
              ><%= @current_user.scratchpad['text'] %></div>
            </span>
            <a href="<%= @current_user.path %>"><img src="<%= @current_user.image_url %>" style="height:30px;" title="<%= @current_user.display_name %>"></a>
            <% if @showing_user && @showing_user == @current_user %>
              <%= button_to "Sign Out", logout_path, method: :delete, style: "display:inline;" %>
            <% end %>
          </div>
        <% else %>
          <%= button_to "Log in", "/login", method: :get %>
        <% end %>
      </div>
    <% end %>
    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>
    <div class="markdown-body">
      <%= yield %>
    </div>
  </body>
</html>
