<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || 'Harmonic Team' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/png" href="/<%= @current_app %>-favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/<%= @current_app %>-favicon-16x16.png" sizes="16x16">
    <link rel="icon" href="/<%= @current_app %>-favicon.ico" type="image/x-icon">
    <meta name="description" content="<%= @page_description || @current_app_description %>">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="<%= @page_title || @current_app_title %>" />
    <meta name="twitter:description" content="<%= @page_description || @current_app_description %>" />
    <meta name="twitter:image" content="https://<%= @current_app %>.team/<%= @current_app %>-logo-white-bg.png" />

    <meta property="og:type" content="article" />
    <meta property="og:title" content="<%= @page_title || @current_app_title %>" />
    <meta property="og:description" content="<%= @page_description || @current_app_description %>" />
    <meta property="og:url" content="https://<%= @current_app %>.team/" />
    <meta property="og:image" content="https://<%= @current_app %>.team/<%= @current_app %>-logo-white-bg.png" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body <%= @current_studio.id == @current_tenant.main_studio_id ? 'class="homepage"'.html_safe : '' %>>
    <% if controller_name != 'sessions' %>
      <nav style="display:block;min-height:16px;">
        <%= render 'layouts/top_left_menu' %>
        <% unless @current_representation_session %>
          <%= render 'layouts/top_right_menu' %>
        <% end %>
      </nav>
    <% end %>
    <div class="markdown-body">
      <% if notice || alert %>
        <% if notice %>
          <div class="notice" style="display:<%= notice ? 'block' : 'none' %>;">
            <%= markdown_inline(notice) %>
            <span class="dismiss-button">&times;</span>
          </div>
        <% end %>
        <% if alert %>
          <div class="alert" style="display:<%= alert ? 'block' : 'none' %>;">
            <%= markdown_inline(alert) %>
            <span class="dismiss-button">&times;</span>
          </div>
        <% end %>
        <script>
          [document.querySelector('.notice'), document.querySelector('.alert')].forEach(function(el) {
            if (!el) return;
            const dismissButton = el.querySelector('.dismiss-button');
            dismissButton.addEventListener('click', function() {
              el.remove();
            });
          });
        </script>
      <% end %>
      <% if @current_simulated_user %>
        <div class="alert">
          <span>You are impersonating simulated user <%= @current_simulated_user.display_name %>.</span>
          <%= button_to "End Session", "#{@current_simulated_user.path}/impersonate", method: :delete %>
        </div>
      <% end %>
      <% if @current_representation_session %>
        <div class="alert">
          <span><%= @current_simulated_user ? "As #{@current_simulated_user.display_name}, y" : 'Y' %>ou are acting as a representative of <%= @current_user.display_name %>.</span>
          <%= button_to "End Session", "#{@current_user.path}/represent", method: :delete %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
