<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || 'markdown.bingo' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <style>
      .markdown-body {
        border: none;
        min-height: 0;
      }
    </style>
  </head>
  <body class="markdown-body">
    <div>
      <%= yield %>
    </div>
  </body>
</html>
