<h4 style="display:inline-block;margin-top:0;">
  <%= link_to @current_studio.name, @current_studio.path || '/' %> / <%= octicon 'iterations' %> Sequence
</h4>
<%= render 'shared/scratchpad_links' %>
<%= form_with do |form| %>
  <p>
    This sequence will create a new
    <%= form.select :item_type, options_for_select([['note', 'Note'], ['decision', 'Decision'], ['commitment', 'Commitment']], selected: 'Note') %> every
    <ul>
      <li><%= form.check_box :monday, checked: true %> <%= form.label :monday, 'Monday' %></li>
      <li><%= form.check_box :tuesday, checked: true %> <%= form.label :tuesday, 'Tuesday' %></li>
      <li><%= form.check_box :wednesday, checked: true %> <%= form.label :wednesday, 'Wednesday' %></li>
      <li><%= form.check_box :thursday, checked: true %> <%= form.label :thursday, 'Thursday' %></li>
      <li><%= form.check_box :friday, checked: true %> <%= form.label :friday, 'Friday' %></li>
      <li><%= form.check_box :saturday, checked: true %> <%= form.label :saturday, 'Saturday' %></li>
      <li><%= form.check_box :sunday, checked: true %> <%= form.label :sunday, 'Sunday' %></li>
    </ul>
    at <%= form.time_select :time, minute_step: 15 %>,
    with the following title:
  </p>
  <div style="margin-bottom:8px;">
    <%= form.text_field :title, placeholder: 'Title', value: @sequence.title, style: 'width:unset;' %>
    + #1, #2, etc.
  </div>
  <%= render 'shared/collapseable_section', title: 'More Options', header_level: 2, hidden: true do %>
    Time zone, monthly, ends at, etc.
    <div>
      <%= form.text_area :description, placeholder: 'Description (optional)', style: 'height:300px;', value: @sequence.description %>
    </div>
  <% end %>
  <h2><%= octicon 'alert', height: 24 %> Notice</h2>
  <p>
    Sequences only remain active as long as each item in the seqence receives at least one interaction event (e.g. read confirmation, vote, etc.) before the generation of the next item.
  </p>
  <p>
    <strong>Views do not count as an interaction events.</strong>
  </p>
  <p>
    If an item does not receive at least one interaction event before the scheduled generation of the next item, the sequence will pause automatically and must be manually reactivated.
  </p>
  <p>
    Skipped items cannot be backfilled, and any gaps between items will be visible on the sequence page.
  </p>
  <p>
    <%= form.check_box :understand, checked: false %> <%= form.label :understand, 'I understand.' %>
  </p>
  <%= form.submit 'Create sequence' %>
<% end %>
