<%= render 'shared/more_button', resource: @sequence, options: ['copy', 'appendLink', 'pin', 'edit'] %>
<h4 style="margin-top:0px;margin-bottom:0;">
  <a href="<%= @current_studio.path || '/' %>"><%= @current_studio.name %></a> /
  <span style="white-space:nowrap;">
    <%= octicon 'iterations' %>
    Sequence <code><%= @sequence.truncated_id %></code>
  </span>
  <span style="white-space:nowrap;" title="<%= @sequence.metric_value %> item<%= @sequence.metric_value != 1 ? 's' : '' %>">
    <%= octicon @sequence.octicon_metric_icon_name %>
    <%= @sequence.metric_value %>
  </span>
</h4>
<h1 style="margin-top:0;"><%= @sequence.title %></h1>
<p style="font-size:0.8em;">
  <%= render 'shared/created_by', resource: @sequence, verb: 'Started' %>
  <br/>
  <% if @sequence.completed? %>
    Completed <strong><%= timeago(@sequence.completed_at) %></strong>
  <% else %>
    This sequence creates one new <%= @sequence.item_type.downcase %> every <%= @sequence.cycle_unit %>
    <%= @sequence.ends_at.present? ? "until #{timeago(@sequence.ends_at)}" : "" %>
  <% end %>
</p>
<% if @sequence.description.present? %>
  <div class="user-generated-markdown">
    <%= markdown(@sequence.description) %>
  </div>
<% end %>

<h2><%= @sequence.item_type.titleize.pluralize %></h2>

<ul style="list-style-type:none;padding-left:0;">
  <li>
    <strong>#<%= @sequence.next_item_position %></strong> will be created in <%= countdown(@sequence.next_item_scheduled_at) %>
  </li>
  <% @sequence.items.each do |item| %>
    <li>
      <span>
        <strong>#<%= item.sequence_position %></strong>
        <a href="<%= item.path %>"><%= item.title %></a>
      </span>
    </li>
  <% end %>
</ul>
