<h4 style="margin:0;">
  <%= link_to @current_studio.name, @current_studio.path || '/' %> / Representation
</h4>
<h1 style="margin-top:0;">Representation</h1>

<% if @active_sessions.any? %>
<div class="active-sessions">
  <h2>Active Sessions</h2>
  <p>
    <%= @current_studio.name %> is currently being represented in <%= @active_sessions.count %> active session<%= @active_sessions.count == 1 ? '' : 's' %>.
  </p>
  <ul>
    <% @active_sessions.each do |session| %>
      <li>
        <%= link_to "Session <code>#{session.truncated_id}</code>".html_safe, session.path %>
        <span class="timeago">began <%= timeago(session.began_at) %></span>
      </li>
    <% end %>
  </ul>
</div>
<hr/>
<% end %>

<% if @current_user.studio_user.can_represent? %>
  <p>
    <a href="<%= @current_studio.path %>/represent">
      <button>New Session</button>
    </a>
  </p>
<% end %>

<p>Representation allows this studio (<%= @current_studio.name %>) to act as an individual member of other studios.</p>

<% if @current_studio.trustee_user.studios.empty? %>
  <p>
    <%= @current_studio.name %> is not currently a member of any other studios.
  </p>
<% else %>
  <p>
    <%= @current_studio.name %> is currently a member of the following studios:
  </p>
  <ul>
    <% @current_studio.trustee_user.studios.each do |studio| %>
      <li>
        <%= link_to studio.name, studio.path %>
      </li>
    <% end %>
  </ul>
<% end %>


<h2>Representatives</h2>

<p>Representatives act on behalf of <%= @current_studio.name %> through sessions during which their actions are recorded and made visible here.</p>

<% if @current_studio.any_member_can_represent? %>
  <p><%= @current_studio.name %> is configured to allow any member to represent the studio.</p>
<% else %>
  <p><%= @current_studio.name %> currently has <%= @representatives.count %> representative<%= @representatives.count == 1 ? '' : 's' %>.</p>

  <ul>
    <% @representatives.each do |representative| %>
      <li>
        <%= profile_pic(representative) %>
        <%= link_to representative.display_name, representative.path %>
        <span class="role-badge">representative</span>
      </li>
    <% end %>
  </ul>
<% end %>

<h2>Representation Sessions</h2>

<% if @representation_sessions.empty? %>
  <p>
    No sessions have happened yet.
  </p>
<% else %>
  <ul>
    <% @representation_sessions.each do |representation_session| %>
      <li>
        <%= link_to "Session <code>#{representation_session.truncated_id}</code>".html_safe, representation_session.path %>
        <%= representation_session.action_count %> action<%= representation_session.action_count == 1 ? '' : 's' %>,
        <span class="timeago">ended <%= timeago(representation_session.ended_at) %></span>
      </li>
    <% end %>
  </ul>
<% end %>
