<%= render 'shared/more_button', resource: @representation_session, options: ['copy', 'appendLink'] %>
<h4 style="margin:0;">
  <%= link_to @current_studio.name, @current_studio.path || '/' %> / <%= link_to 'Representation', "#{@current_studio.path}/representation" %> / Session <code><%= @representation_session.truncated_id %></code>
</h4>
<h1 style="margin-top:0;">
  Representation Session
</h1>

<ul>
  <li>
    <%= @representation_session.representative_user.display_name %> represented <%= @representation_session.studio.name %> <%= timeago(@representation_session.ended_at) %>.
  </li>
  <li>
    <%= @representation_session.representative_user.display_name %> performed the following actions on behalf of <%= @representation_session.studio.name %>:
    <ul>
      <% @representation_session.actions.each do |action| %>
        <li>
          <%= action %>
        </li>
      <% end %>
    </ul>
  </li>
</ul>

<h2>JSON</h2>
<p>
  The following JSON describes the HTTP requests made during this session (<code>GET</code> requests excluded).
</p>
<pre>
<%= JSON.pretty_generate(@representation_session.api_json) %>
</pre>